In [20]:
# coding: utf-8

# In[110]:


import pandas as pd
import numpy as np

#Define path to schools complete CSV file
schools_complete = "schools_complete.csv"

#Read data into pandas
schools_df=pd.read_csv(schools_complete)
schools_df

    School ID                   name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [21]:
# In[111]:


#Define path to students complete CSV file
students_complete = "students_complete.csv"

#Read data into pandas
students_df=pd.read_csv(students_complete)
students_df

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80
20,20,Lisa Davis,F,10th,Huang High School,91,89
21,21,Kristen Lopez,F,10th,Huang High School,90,77
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
23,23,Christopher Parker,M,9th,Huang High School,81,68
24,24,Chelsea Griffith,F,11th,Huang High School,85,73
25,25,Cesar Morris,M,9th,Huang High School,92,70
26,26,Melanie Decker,F,9th,Huang High School,63,85
27,27,Tracey Oconnor,F,10th,Huang High School,80,58
28,28,Kelly James,F,11th,Huang High School,73,55
29,29,Nicole Brown,F,12th,Huang High School,90,88
...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73
39152,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,39153,William Hubbard,M,9th,Thomas High School,80,75
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71
39155,39155,John Brooks,M,10th,Thomas High School,92,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,39161,April Reyes,F,10th,Thomas High School,70,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,39163,John Reese,M,11th,Thomas High School,90,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [22]:
# In[112]:


#Calculate total schools
total_schools=len(schools_df['name'].unique().tolist())
total_schools

15

In [23]:
# In[113]:


#Calculate number of students
total_students=len(students_df['name'].tolist())
total_students

39170

In [24]:
# In[114]:


#Calculate total budget
total_budget=schools_df['budget'].sum()
total_budget

24649428

In [25]:
# In[115]:


#Calculate per student budget
budget_per_student=total_budget/total_students
budget_per_student

629.2935409752362

In [26]:
# In[116]:


#Calculate district average math score
district_avg_math_score=students_df['math_score'].mean()
district_avg_math_score

78.98537145774827

In [27]:
# In[117]:


#Calculate average reading score
district_avg_reading_score=students_df['reading_score'].mean()
district_avg_reading_score

81.87784018381414

In [28]:
# In[118]:


#Determine if each student earned passing math score;returns boolean answer
#Assumes passing score is >=70
district_students_pass_math=students_df['math_score']>=70
district_students_pass_math.head() #can delete .head() to show all data

0     True
1    False
2    False
3    False
4     True
Name: math_score, dtype: bool

In [29]:
# In[119]:


#Count number of students in school that passed math
#.sum() function works since False = 0 and True = 1
district_cnt_pass_math=district_students_pass_math.sum() 
district_cnt_pass_math

29370

In [30]:
# In[120]:


#Percentage of students passing math
district_percent_pass_math=district_cnt_pass_math/total_students*100
district_percent_pass_math

74.9808526933878

In [31]:
# In[121]:


#Determine if each student earned passing reading score; return boolean answer
#Assumes passing score is >=70
district_students_pass_reading=students_df['reading_score']>=70
district_students_pass_reading.head() #can delete .head() to show all data

0    False
1     True
2     True
3    False
4     True
Name: reading_score, dtype: bool

In [32]:
# In[122]:


#Count number of students in school that passed reading
#.sum() function works since False = 0 and True = 1
district_cnt_pass_reading=district_students_pass_reading.sum()
district_cnt_pass_reading

33610

In [33]:
# In[123]:


#Percentage of students passing reading
district_percent_pass_reading=district_cnt_pass_reading/total_students*100
district_percent_pass_reading

85.80546336482001

In [34]:
# In[124]:


#Percentage of students overall passing rate
district_overall_pass_rate=(district_percent_pass_math+district_percent_pass_reading)/2
district_overall_pass_rate

80.39315802910392

In [35]:
# In[125]:


school_group=students_df.groupby(["school"])
school_group

In [36]:
# In[126]:


#Create data dictionary for district
d = {'Total Schools': [total_schools],
     'Total Students': [total_students],
     'Total Budget': [total_budget],
     'Average Math Score':[district_avg_math_score],
     'Average Reading Score':[district_avg_reading_score],
     '%Passing Math': [district_percent_pass_math],
     '%Passing Reading': [district_percent_pass_reading],
     '%Overall Passing Rate': [district_overall_pass_rate]}

In [37]:
# In[127]:


#Generate data frame
district_summary = pd.DataFrame(d)


# In[128]:


#Arrange columns
district_summary = district_summary[['Total Schools',
                                     'Total Students',
                                     'Total Budget',
                                     'Average Math Score',
                                     'Average Reading Score',
                                     '%Passing Math',
                                     '%Passing Reading',
                                     '%Overall Passing Rate']]

In [38]:
# In[129]:


#Display dataframe shwoing district summary
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [39]:
# In[130]:


#School summary dataframe
schools_df.drop('School ID',1)
schools_df['Per Student Budget']=schools_df['budget']/schools_df['size']

In [40]:
# In[136]:


#Calculate average math score by school
sch_ave_pass_math_df=students_df.groupby(['school'])['math_score'].mean()
sch_ave_pass_math_df

school
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [41]:
# In[147]:


#Sort schools according to math score in descending order
sorted_schools_math_df=students_df.sort_values("math_score",ascending=False)
sorted_schools_math_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
23831,23831,Christine Harris,F,11th,Pena High School,81,99
28304,28304,Michelle Smith,F,11th,Rodriguez High School,63,99
15727,15727,Mrs. Brittany Duncan MD,F,10th,Wilson High School,83,99
15749,15749,Tammy Nichols,F,12th,Wilson High School,81,99
15762,15762,Andrea Wilson,F,11th,Wilson High School,83,99

In [42]:
# In[134]:


#Calculate average reading score by school
sch_ave_pass_reading_df=students_df.groupby(['school'])['reading_score'].mean()
sch_ave_pass_reading_df

school
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [43]:
# In[138]:


#Sort schools according to reading score in descending order
sorted_schools_reading_df=students_df.sort_values("reading_score",ascending=False)
sorted_schools_reading_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
8885,8885,Matthew Williams,M,11th,Hernandez High School,99,62
23073,23073,Jennifer Miller,F,11th,Holden High School,99,93
23074,23074,Brian Williams,M,12th,Holden High School,99,85
36854,36854,William Brennan,M,9th,Ford High School,99,97
16070,16070,Ashley Fleming,F,11th,Cabrera High School,99,78

In [44]:
# In[ ]:


#Locate students that passed math (score >=70)
passing_math_studs_df=students_df.loc[students_df["math_score"]>=70,["Student ID","name","school","math_score"]]
passing_math_studs_df

       Student ID                 name              school  math_score
0               0         Paul Bradley   Huang High School          79
4               4           Bonnie Ray   Huang High School          84
5               5        Bryan Miranda   Huang High School          94
6               6        Sheena Carter   Huang High School          80
8               8         Michael Roth   Huang High School          87
9               9       Matthew Greene   Huang High School          84
10             10     Andrew Alexander   Huang High School          70
11             11        Daniel Cooper   Huang High School          77
12             12      Brittney Walker   Huang High School          79
13             13         William Long   Huang High School          79
15             15    Dr. Jordan Carson   Huang High School          88
17             17    Kimberly Santiago   Huang High School          75
19             19         Brandi Lyons   Huang High School          80
20             20           Lisa Davis   Huang High School          89
21             21        Kristen Lopez   Huang High School          77
22             22     Kimberly Stewart   Huang High School          84
24             24     Chelsea Griffith   Huang High School          73
25             25         Cesar Morris   Huang High School          70
26             26       Melanie Decker   Huang High School          85
29             29         Nicole Brown   Huang High School          88
30             30         Bobby Harris   Huang High School          99
32             32       Candace Phelps   Huang High School          90
34             34         Steven Green   Huang High School          74
36             36         Kevin Bailey   Huang High School          76
38             38     Kimberly Mercado   Huang High School          77
41             41       Jennifer Parks   Huang High School          95
42             42         John Carlson   Huang High School          89
43             43        Megan Roberts   Huang High School          90
45             45        Heidi Jackson   Huang High School          93
47             47          Ellen Brown   Huang High School          81
...           ...                  ...                 ...         ...
39140       39140   Cheyenne Hernandez  Thomas High School          99
39141       39141    Jonathan Sullivan  Thomas High School          93
39142       39142  Deborah Higgins DDS  Thomas High School          83
39143       39143       Steven Jackson  Thomas High School          93
39144       39144     Cristian Webster  Thomas High School          87
39145       39145           Audrey Fry  Thomas High School          74
39146       39146      Michael Carroll  Thomas High School          95
39147       39147      Raymond Hawkins  Thomas High School          81
39148       39148   Christopher Wilson  Thomas High School          89
39149       39149      Glenda Fletcher  Thomas High School          93
39150       39150    Jennifer Hamilton  Thomas High School          75
39151       39151     Shannon Williams  Thomas High School          73
39152       39152           Lori Moore  Thomas High School          84
39153       39153      William Hubbard  Thomas High School          75
39154       39154      Bradley Johnson  Thomas High School          71
39155       39155          John Brooks  Thomas High School          98
39156       39156  Stephanie Contreras  Thomas High School          95
39157       39157     Kristen Gonzalez  Thomas High School          94
39158       39158        Kari Holloway  Thomas High School          90
39159       39159     Kimberly Cabrera  Thomas High School          72
39160       39160         Katie Weaver  Thomas High School          86
39161       39161          April Reyes  Thomas High School          84
39162       39162          Derek Weeks  Thomas High School          77
39163       39163           John Reese  Thomas High School          75
39164       39164       Joseph Anthony  Thomas High School          76
39165       39165         Donna Howard  Thomas High School          90
39166       39166            Dawn Bell  Thomas High School          70
39167       39167       Rebecca Tanner  Thomas High School          84
39168       39168         Desiree Kidd  Thomas High School          90
39169       39169      Carolyn Jackson  Thomas High School          75

[29370 rows x 4 columns]

In [45]:
# In[ ]:


#Locate students that passed reading (score >=70)
passing_reading_studs_df=students_df.loc[students_df["reading_score"]>=70,["Student ID","name","school","reading_score"]]
passing_reading_studs_df

       Student ID                 name              school  reading_score
1               1         Victor Smith   Huang High School             94
2               2      Kevin Rodriguez   Huang High School             90
4               4           Bonnie Ray   Huang High School             97
5               5        Bryan Miranda   Huang High School             94
6               6        Sheena Carter   Huang High School             82
7               7         Nicole Baker   Huang High School             96
8               8         Michael Roth   Huang High School             95
9               9       Matthew Greene   Huang High School             96
10             10     Andrew Alexander   Huang High School             90
11             11        Daniel Cooper   Huang High School             78
13             13         William Long   Huang High School             71
14             14         Tammy Hebert   Huang High School             85
15             15    Dr. Jordan Carson   Huang High School             94
16             16        Donald Zamora   Huang High School             88
17             17    Kimberly Santiago   Huang High School             74
19             19         Brandi Lyons   Huang High School             89
20             20           Lisa Davis   Huang High School             91
21             21        Kristen Lopez   Huang High School             90
22             22     Kimberly Stewart   Huang High School             99
23             23   Christopher Parker   Huang High School             81
24             24     Chelsea Griffith   Huang High School             85
25             25         Cesar Morris   Huang High School             92
27             27       Tracey Oconnor   Huang High School             80
28             28          Kelly James   Huang High School             73
29             29         Nicole Brown   Huang High School             90
30             30         Bobby Harris   Huang High School             94
31             31      Brian Fernandez   Huang High School             97
32             32       Candace Phelps   Huang High School             93
33             33         Amy Gonzalez   Huang High School             95
35             35     Benjamin Carlson   Huang High School             99
...           ...                  ...                 ...            ...
39139       39139        Catherine Lee  Thomas High School             83
39140       39140   Cheyenne Hernandez  Thomas High School             76
39141       39141    Jonathan Sullivan  Thomas High School             86
39142       39142  Deborah Higgins DDS  Thomas High School             96
39143       39143       Steven Jackson  Thomas High School             71
39144       39144     Cristian Webster  Thomas High School             77
39145       39145           Audrey Fry  Thomas High School             94
39147       39147      Raymond Hawkins  Thomas High School             88
39148       39148   Christopher Wilson  Thomas High School             89
39149       39149      Glenda Fletcher  Thomas High School             82
39150       39150    Jennifer Hamilton  Thomas High School             80
39151       39151     Shannon Williams  Thomas High School             84
39152       39152           Lori Moore  Thomas High School             98
39153       39153      William Hubbard  Thomas High School             80
39154       39154      Bradley Johnson  Thomas High School             91
39155       39155          John Brooks  Thomas High School             92
39156       39156  Stephanie Contreras  Thomas High School             79
39157       39157     Kristen Gonzalez  Thomas High School             79
39158       39158        Kari Holloway  Thomas High School             87
39159       39159     Kimberly Cabrera  Thomas High School             85
39160       39160         Katie Weaver  Thomas High School             89
39161       39161          April Reyes  Thomas High School             70
39162       39162          Derek Weeks  Thomas High School             94
39163       39163           John Reese  Thomas High School             90
39164       39164       Joseph Anthony  Thomas High School             97
39165       39165         Donna Howard  Thomas High School             99
39166       39166            Dawn Bell  Thomas High School             95
39167       39167       Rebecca Tanner  Thomas High School             73
39168       39168         Desiree Kidd  Thomas High School             99
39169       39169      Carolyn Jackson  Thomas High School             95

[33610 rows x 4 columns]

In [46]:
# In[ ]:


#Count number of students that passed math for school
groupbyschool_math_df=students_df.loc[students_df["math_score"]>=70]
groupbyschool_math_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87

In [48]:
# In[ ]:


#Count number of students that passed reading for school
sch_pass_reading_count=students_df.loc['school','reading_score']>=70
sch_pass_reading_count

KeyError: 'the label [school] is not in the [index]'

In [52]:
# In[ ]:


#Merge school summary dataframe with district data frame
merge_schools_students_df=merge_schools_students.merge(students_df,on='school',how='outer')
merge_schools_students_df

NameError: name 'merge_schools_students' is not defined

In [49]:
# In[ ]:


#Calculate percent passing reading for school
#Assume passing score is >=70
passing_reading = sch_ave_pass_reading['reading_score']>= 70
sch_percent_passing_reading=passing_reading/schools_df['size']*100
sch_percent_passing_reading

NameError: name 'sch_ave_pass_reading' is not defined

In [ ]:
# In[ ]:


#Calculate percent passing math for school
#Assume passing score is >=70
criteria_passing_math = students_df['math_score']>= 70

#Count number of students in school that passed math
#.sum() function works since False = 0 and True = 1
school_cnt_pass_math=criteria_passing_math.sum() 
school_cnt_pass_math

#sch_percent_passing_math=passing_math/schools_df['size']*100
#sch_percent_passing_math

In [ ]:
# In[ ]:


#Calculate overall passing rate for school
revised_schools_df['% Overall Passing Rate'] = (schools_df['% Passing Math']+schools_df['% Passing Reading'])/2
revised_schools_df

In [ ]:
# In[ ]:


#rename columns for reading and math scores to average reading and average math scores 
revised=schools_df.rename({'reading_score':'Average Reading Score',
                               'math_score': 'Average Math Score'},axis= 1 , inplace= True)
revised

In [ ]:
#Top Performing Schools (By Passing Rate)
#top_performing_schools=school_summary_df.sort_values('% Overall Passing Rate',ascending=False)

In [ ]:
#Bottom Performing Schools (By Passing Rate)
#bottom_performing_schools=school_summary_df.sort_values('% Overall Passing Rate',ascending=True)

In [2]:
#Define bins for school sizes
#bin_size=np.array(['small','medium','large'])